@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background-color: #78a24b;
      color: white;
      text-align: center;
    }


    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 10;

    }

    .logo {
      font-size: 1.5em;
      font-weight: bold;
      color: white;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li {
      display: inline;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-size: 1em;
    }

    .menu-icon {
      font-size: 1.5em;
      cursor: pointer;
      display: none;
    }


    @media (max-width: 768px) {
      header {
        padding: 15px 20px;
      }

      nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
      }

      nav ul.active {
        display: flex;
      }

      .menu-icon {
        display: block;
      }
    }


    .hero {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .character {
      width: 350px;
      margin-bottom: 20px;
    }

    .meta-text {
      font-size: 5em;
      font-weight: bold;
      letter-spacing: 5px;
    }


    .search-container {
      margin-top: 20px;
      position: relative;
      width: 80%;
      max-width: 500px;
    }

    .search-container input {
      width: 100%;
      padding: 12px 15px;
      border-radius: 25px;
      border: none;
      font-size: 1em;
      outline: none;
    }

    .search-container button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #555;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 50%;
      cursor: pointer;
    }


    .inspiration {
      margin-top: 30px;
      font-size: 1.5em;
      font-weight: 300;
    }




    .footer {

      color: white;
      padding: 40px 20px;
    }

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
    }

    .footer-column {
      width: 20%;
      min-width: 150px;
    }

    .footer-column h3 {
      margin-bottom: 15px;
      font-size: 1.2em;
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
    }

    .footer-column ul li a {
      text-decoration: none;
       color: #ffffff;
      display: block;
      margin-bottom: 5px;
    }

    .footer-contact {
      text-align: center;
      min-width: 200px;
      direction: rtl;
    }

    .social-icons {
      margin-top: 10px;
    }

    .social-icons a {
      color: white;
      font-size: 1.5em;
      text-decoration: none;
      margin-right: 10px;
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        text-align: center;
      }

      .footer-column,
      .footer-contact {
        width: 100%;
        margin-bottom: 20px;
      }

      .footer-contact {
        text-align: center;
      }
    }




    .containerapp {
      background-color: #1c6b2d38;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    .containering {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: #1E1E1E;
      padding: 15px;
      border-radius: 12px;
      gap: 10px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    .download-text {
      color: white;
      font-size: 16px;
      font-weight: bold;
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    .btn {
      background: #2D2D2D;
      color: white;
      border: 1px solid #555;
      padding: 12px 18px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      justify-content: center;
    }

    .btn img {
      width: 20px;
      height: 20px;
    }

    .btn:hover {
      background: #3A3A3A;
    }

    .app-btn {
      background: #00C46C;
      color: white;
      padding: 12px 18px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      justify-content: center;
    }

    .app-btn img {
      width: 20px;
      height: 20px;
    }

    .app-btn:hover {
      background: #00A85A;
    }




    .fade-in {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease-out, transform 1s ease-out;
    }

    .fade-in.active {
      opacity: 1;
      transform: translateY(0);
    }




    .cardboxbody {
      background-color: #1a1a1a;
      color: #ffffff;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 50px;
      margin-bottom: 100px;
    }

    .text-card {
      margin-bottom: 40px;
    }

    .containercard {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .card {
      background-color: #2a2a2a;
      border-radius: 10px;
      padding: 20px;
      margin: 20px;
      width: 250px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card h2 {
      color: #00bfae;
      font-size: 24px;
    }

    .card p {
      color: #cccccc;
    }




    .wejhvwrivbhriubhwi {

      color: white;
      direction: rtl;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      max-width: 1200px;
    }

    .content {
      max-width: 50%;
    }

    h3 {
      font-size: 18px;
      color: #bbb;
    }

    h1 {
      font-size: 32px;
    }

    .highlight {
      color: #00ff88;
    }

    p {
      font-size: 14px;
      color: #ccc;
      margin-top: 10px;
    }

    .cta-button {
      background-color: #00ff88;
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 25px;

    }

    .image img {
      max-width: 350px;
    }

    /* ریسپانسیو برای نمایش در موبایل */
    @media screen and (max-width: 768px) {
      .banner {
        flex-direction: column;
        text-align: center;
      }

      .content {
        max-width: 100%;
        order: 1;
      }

      .image {
        order: 2;
      }

      .image img {
        max-width: 80%;
        margin-top: 20px;
      }
    }





    #ghost {
      position: relative;
      scale: 0.8;
    }

    #red {
      animation: upNDown infinite 0.5s;
      position: relative;
      width: 140px;
      height: 140px;
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-template-rows: repeat(14, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      grid-template-areas:
        "a1  a2  a3  a4  a5  top0  top0  top0  top0  a10 a11 a12 a13 a14"
        "b1  b2  b3  top1 top1 top1 top1 top1 top1 top1 top1 b12 b13 b14"
        "c1 c2 top2 top2 top2 top2 top2 top2 top2 top2 top2 top2 c13 c14"
        "d1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 d14"
        "e1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 e14"
        "f1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 f14"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
        "st0 st0 an4 st1 an7 st2 an10 an10 st3 an13 st4 an16 st5 st5"
        "an1 an2 an3 an5 an6 an8 an9 an9 an11 an12 an14 an15 an17 an18";
    }

    @keyframes upNDown {

      0%,
      49% {
        transform: translateY(0px);
      }

      50%,
      100% {
        transform: translateY(-10px);
      }
    }

    #top0,
    #top1,
    #top2,
    #top3,
    #top4,
    #st0,
    #st1,
    #st2,
    #st3,
    #st4,
    #st5 {
      background-color: red;
    }

    #top0 {
      grid-area: top0;
    }

    #top1 {
      grid-area: top1;
    }

    #top2 {
      grid-area: top2;
    }

    #top3 {
      grid-area: top3;
    }

    #top4 {
      grid-area: top4;
    }

    #st0 {
      grid-area: st0;
    }

    #st1 {
      grid-area: st1;
    }

    #st2 {
      grid-area: st2;
    }

    #st3 {
      grid-area: st3;
    }

    #st4 {
      grid-area: st4;
    }

    #st5 {
      grid-area: st5;
    }

    #an1 {
      grid-area: an1;
      animation: flicker0 infinite 0.5s;
    }

    #an18 {
      grid-area: an18;
      animation: flicker0 infinite 0.5s;
    }

    #an2 {
      grid-area: an2;
      animation: flicker1 infinite 0.5s;
    }

    #an17 {
      grid-area: an17;
      animation: flicker1 infinite 0.5s;
    }

    #an3 {
      grid-area: an3;
      animation: flicker1 infinite 0.5s;
    }

    #an16 {
      grid-area: an16;
      animation: flicker1 infinite 0.5s;
    }

    #an4 {
      grid-area: an4;
      animation: flicker1 infinite 0.5s;
    }

    #an15 {
      grid-area: an15;
      animation: flicker1 infinite 0.5s;
    }

    #an6 {
      grid-area: an6;
      animation: flicker0 infinite 0.5s;
    }

    #an12 {
      grid-area: an12;
      animation: flicker0 infinite 0.5s;
    }

    #an7 {
      grid-area: an7;
      animation: flicker0 infinite 0.5s;
    }

    #an13 {
      grid-area: an13;
      animation: flicker0 infinite 0.5s;
    }

    #an9 {
      grid-area: an9;
      animation: flicker1 infinite 0.5s;
    }

    #an10 {
      grid-area: an10;
      animation: flicker1 infinite 0.5s;
    }

    #an8 {
      grid-area: an8;
      animation: flicker0 infinite 0.5s;
    }

    #an11 {
      grid-area: an11;
      animation: flicker0 infinite 0.5s;
    }

    @keyframes flicker0 {

      0%,
      49% {
        background-color: red;
      }

      50%,
      100% {
        background-color: transparent;
      }
    }

    @keyframes flicker1 {

      0%,
      49% {
        background-color: transparent;
      }

      50%,
      100% {
        background-color: red;
      }
    }

    #eye {
      width: 40px;
      height: 50px;
      position: absolute;
      top: 30px;
      left: 10px;
    }

    #eye::before {
      content: "";
      background-color: white;
      width: 20px;
      height: 50px;
      transform: translateX(10px);
      display: block;
      position: absolute;
    }

    #eye::after {
      content: "";
      background-color: white;
      width: 40px;
      height: 30px;
      transform: translateY(10px);
      display: block;
      position: absolute;
    }

    #eye1 {
      width: 40px;
      height: 50px;
      position: absolute;
      top: 30px;
      right: 30px;
    }

    #eye1::before {
      content: "";
      background-color: white;
      width: 20px;
      height: 50px;
      transform: translateX(10px);
      display: block;
      position: absolute;
    }

    #eye1::after {
      content: "";
      background-color: white;
      width: 40px;
      height: 30px;
      transform: translateY(10px);
      display: block;
      position: absolute;
    }

    #pupil {
      width: 20px;
      height: 20px;
      background-color: blue;
      position: absolute;
      top: 50px;
      left: 10px;
      z-index: 1;
      animation: eyesMovement infinite 3s;
    }

    #pupil1 {
      width: 20px;
      height: 20px;
      background-color: blue;
      position: absolute;
      top: 50px;
      right: 50px;
      z-index: 1;
      animation: eyesMovement infinite 3s;
    }

    @keyframes eyesMovement {

      0%,
      49% {
        transform: translateX(0px);
      }

      50%,
      99% {
        transform: translateX(10px);
      }

      100% {
        transform: translateX(0px);
      }
    }

    #shadow {
      background-color: black;
      width: 140px;
      height: 140px;
      position: absolute;
      border-radius: 50%;
      transform: rotateX(80deg);
      filter: blur(20px);
      top: 80%;
      animation: shadowMovement infinite 0.5s;
    }

    @keyframes shadowMovement {

      0%,
      49% {
        opacity: 0.5;
      }

      50%,
      100% {
        opacity: 0.2;
      }
    }


    a {
      text-decoration: none;
    }
